 {% extends "layout.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
        Proto kit v2 playground
      </h1>

    <p>
      This idea of this repository is for me to have a play around.
    </p>

    <p>
      It contains the latest UX prototypes that I have been working on.
    </p>

    <br></br>

    <p>
      <h2>Digital Street</h2> June '18
    </p>

    <a href="tasklist.html">
            Tasklist (June 2018)
    </a>

    <br></br>

    <p>
    <a href="tasklist.html">
          Seller's journey
    </a>
    </p>

  </div>
</div>

{% endblock %}
